<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <h1><%= title %></h1>
  <p>Name: <%= profile.name %></p>
  <p>Avatar URL: <%= profile.avatar %></p>
  <p>Address: <%= profile.address %></p>
  <p>Email: <%= profile.email %></p>
  <p>Phone: <%= profile.phone %></p>

  <form action="/profiles" method="POST">
    <label for="name">Name of Institution:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="degree">Degree:</label>
    <select id="degree" name="degree" required>
      <option value="BSc">BS</option>
      <option value="BEng">BEng</option>
      <option value="LLB">LLB</option>
      <option value="BSW">BSW</option>
      <option value="BBA">BBA</option>
    </select>
    <br>
    <label for="state">State:</label>
    <input type="text" id="state" name="state">
    <br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country">
    <br>
    <label for="completed">Completed:</label>
    <input type="checkbox" id="completed" name="completed">
    <br>
    <label for="startYear">Start Year:</label>
    <input type="number" id="startYear" name="startYear" value="<%= new Date().getFullYear() %>" required>
    <br>
    <div id="endYearField" style="display: none;">
      <label for="endYear">End Year:</label>
      <input type="number" id="endYear" name="endYear">
    </div>
    <br>
    <button type="submit">Submit</button>
  </form> 
  
  
  <h2>Education List!</h2>
  <ul>
    <% profile.educations.forEach(education => { %>
      <li><%= education.name %> - <%= education.degree %> - <%= education.state %> - <%= education.country %></li>
    <% }) %>
  </ul>

</main>

<%- include('../partials/footer') %>