<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Name: <%= profiles.name %></p>
  <p>Avatar URL: <%= profiles.avatar %></p>
  <p>Address: <%= profiles.address %></p>
  <p>Email: <%= profiles.email %></p>
  <p>Phone: <%= profiles.phone %></p>
</main>

<%- include('../partials/footer') %>