<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/accounts/edit.css">
<%- include('../partials/nav') %>

<h1><%= title %></h1>

<main>
  
  <form action="/accounts/<%= account._id %>?_method=PUT" method="POST" class="account-form">

    <div>
      <label for="phoneNo">Phone Number:</label>
      <input
        type="tel"
        id="phoneNo"
        name="phoneNo"
        placeholder="Enter 10 digit phone number"
        value="<%= account.phoneNo %>"
        required
      >
    </div>

    <div>
      <label for="street">Street:</label>
      <input
        type="text"
        id="street"
        name="street"
        placeholder="Enter street"
        value="<%= account.street %>"
        required
      >
    </div>

    <div>
      <label for="accountPhoto">City:</label>
      <input
        type="text"
        id="city"
        name="city"
        placeholder="Enter city"
        value="<%= account.city %>"
        placeholder="Enter city"
      >
    </div>

    <div>
      <label for="state">State:</label>
      <input
        type="text"
        id="state"
        name="state"
        placeholder="Enter state"
        value="<%= account.state %>"
        required
      >
    </div>

    <div>
      <label for="country">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
        placeholder="Enter country"
        value="<%= account.country %>"
        required
      >
    </div>

    <div>
      <label for="dob">Date of Birth:</label>
      <input
        type="date"
        id="dob"
        name="dateOfBirth"
        value="<%= account.dateOfBirth %>"
        required
      >
    </div>

    <div>
      <label for="languages">Languages:</label>
      <input
        type="text"
        id="languages"
        name="languages"
        value="<%= account.languages.join(', ') %>"
        placeholder="Enter languages (comma-separated)"
      >
    </div>

    <button type="submit">Save Account</button>

  </form>

</main>

<%- include('../partials/footer') %>