<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/accounts/index.css">
<%- include('../partials/nav') %>


<h1>Account List</h1>

<main>
  
  <% accounts.forEach(account => { %>
    <div class="accounts-container">
      <div><img id="avatar" src="<%= account.photo %>" alt=""></div>
      <div class="account-info">Name: <%= account.author.name %></div>
      <div class="account-info">Email: <%= user.email %></div>
      <div class="account-info">Phone Number: <%= account.phoneNo %></div>
      <div class="account-info">Date of Birth: <%= account.dateOfBirth.toLocaleDateString() %></div>
      <div class="account-actions">
        <a href="/accounts/<%= account._id %>"><button class="btn-main">View</button></a>
        <% if (account.author._id.equals(user.profile._id)) { %>
        <a href="/accounts/<%= account._id %>/edit"><button class="btn-main">Edit</button></a>
        <form action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
          <button class="btn-main" type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>