<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/accounts/show.css">
<%- include('../partials/nav') %>

<h1>Account List</h1>

<div id="body">

  <div class="acc-container">

    <div><img id="avatar" src="<%= account.photo %>"></div>
    <div class="acc-info">Name: <%= account.author.name %></div>
    <div class="acc-info">Email: <%= user.email %></div>
    <div class="acc-info">Phone Number: <%= account.phoneNo %></div>
    <div class="acc-info">Date of Birth: <%= account.dateOfBirth.toLocaleDateString() %></div>
    <div class="account-info">Languages: <%= account.languages.join(', ') %></div>
    <div class="action-buttons">
      <% if (account.author._id.equals(user.profile._id)) { %>
      <a href="/accounts/<%= account._id %>/edit"><button id="edit-btn">Edit</button></a>
      <form action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
        <button class="btn-main" type="submit">Delete</button>
      </form>
      <% } %>
    </div>

    <% if (account.applications.length) { %>
      <h3>Applications List</h3>
      <ul>
        <% account.applications.forEach(application => { %>
          <li>
            Looking for  a <%= application.position %> position
            at <%= application.company %>
            <%= application.type %>
            <%= application.availability %>
            <%= application.location %>
            <%= application.mileRange %>
            <%= application.workDays %>
            <%= application.skills %>
            <%= application.author.name %> 
            <% if (account.author._id.equals(user.profile._id)) { %>
              <form action="/accounts/<%= account._id %>/applications/<%= application._id %>?_method=DELETE" method="POST">
                <button id="delete-btn"type="submit">❌</button>
              </form> 
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h3>This person has no applications yet</h3>
    <% } %>

  </div>

  <div class="add-container">

    <form method="POST" action="/accounts/<%= account._id %>/applications">
      <label for="company">Company:</label>
      <input type="text" id="company" name="company" required>

      <label for="position">Position:</label>
      <input type="text" id="position" name="position">

      <label for="type">Type:</label>
      <select id="type" name="type" required>
        <option value="part time">Part Time</option>
        <option value="full time">Full Time</option>
        <option value="temporary">Temporary</option>
        <option value="contract">Contract</option>
      </select>

      <label for="availability">Availability:</label>
      <select id="availability" name="availability" required>
        <option value="immediately">Immediately</option>
        <option value="2 weeks">2 Weeks</option>
        <option value="1 month">1 Month</option>
      </select>

      <label for="location">Location:</label>
      <input type="text" id="location" name="location">

      <label for="mileRange">Mile Range:</label>
      <select id="mileRange" name="mileRange">
        <option value="0">0 miles</option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="15">15 miles</option>
        <option value="20">20 miles</option>
      </select>

      <label for="workDays">Work Days:</label>
      <select id="workDays" name="workDays">
        <option value="weekends only">Weekends Only</option>
        <option value="weekdays only">Weekdays Only</option>
      </select>

      <label for="skills">Skills:</label>
      <input type="text" id="skills" name="skills">
      <br><br>
      <button type="submit" class="app-button">Add Application</button>
      
    </form>

  </div>

</div>

<%- include('../partials/footer') %>